* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: sans-serif;
  color: #222222;
}

.button {
  width: 130px;
  height: 40px;
  text-align: center;
  padding: 8px 0px;
  background-color: rgb(235, 235, 235);
  color: #222222;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
}

.registration-card {
  margin: 30px auto;
  width: 500px;
  border-radius: 10px;
  border: 1px solid darkgrey;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.registration-card header {
  width: 400px;
  text-align: center;
  margin-bottom: 30px;
  color: #222222;
}
.registration-card h1 {
  margin-bottom: 10px;
}

.registration-card form {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.registration-card form input,
button {
  width: 300px;
  display: block;
  height: 40px;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 16px;
  padding: 8px 10px;

  margin-bottom: 10px;
}
.registration-card form button {
  background-color: #2bc016;
  color: white;
  border: none;
  font-weight: 700;
}
.registration-card form button:hover {
  background-color: #2bc016;
}

.registration-card form {
  margin-bottom: 20px;
}
.registration-card .login-switch:link,
.registration-card .login-switch:visited {
  font-size: 0.8em;
  text-decoration: none;

  font-weight: 900;
  color: rgb(100, 98, 98);
}
.registration-card .login-switch:hover:link,
.registration-card .login-switch:hover {
  text-decoration: underline;
}

.pin-board {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  height: 800px;
  /* align-content: space-between; */
  justify-content: flex-start;
  align-items: center;
}

.pin-item {
  background-color: #32936f80;
  width: 22%;
  margin: 1%;
  padding: 10px;
}

.pin-picture {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
}

.pin-item:hover .pin-picture {
  width: 105%;
  opacity: 0.3;
  /* position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  opacity: 0.7;
  background-color: rgba(259, 67, 95, 0.7); */
}

.pin-builder {
  margin: 0 auto;
  width: 700px;
  height: 500px;
  background-color: beige;
  border-radius: 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pin-builder-save {
  background-color: #2bc016;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  font-weight: 700;
}
.pin-builder-save-row {
  align-self: flex-end;
}

.pin-builder-button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.pin-builder-update,
.pin-builder-delete,
.pin-builder-cancel {
  background-color: #2bc016;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  font-weight: 700;
  margin: 0px 20px;
}

.pin-builder-delete,
.pin-builder-cancel {
  background-color: lightgrey;
  color: darkgrey;
}

.pin-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.pin-image-selector-frame {
  background-color: #32936f;
  padding: 10px;
  border-radius: 10px;
}
.pin-image-selector {
  background-color: #eeeeee;
  border: 2px dashed;
  height: 300px;
  width: 300px;
  display: inline-block;
  text-align: center;
  font-size: 1.3em;
  color: #32936f;
  padding-top: 170px;
  border-radius: 10px;
}

.pin-image-frame {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
}
.pin-image {
  width: 300px;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.pin-image-selector-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.pin-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 350px;
  padding: 10px;
}
.pin-title {
  margin: 10px;
  padding: 10px;
  font-size: 1.5em;
  font-weight: 700;
  width: 300px;
}

.pin-description {
  padding: 10px;

  margin: 10px;
  height: 300px;
  width: 300px;
  font-size: 1em;
  font-weight: 700;
}

.menu-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.menu-border {
  border-top: 1px solid #395e66;
  height: 1px;
  width: 100%;
  background-color: #395e66;
  margin-bottom: 20px;
}
.logout {
  background-color: #2bc016;
  color: white;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  margin: 25px;
}
.logo {
  display: block;
  margin: 20px;
}

.menu-end {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.errors {
  color: red;
  font-weight: 700;
}

.errors li {
  list-style-type: none;
}
